:root {
    --bg1: #4E6E81;
    --bg1border: #F9DBBB;
    --bg2: white;
    --bg3: #2E3840;
    --font1: #F9DBBB;
    --font2: white;
    --font3: #2E3840;
    --accent: #FF0303;
    --complete: #2E3840;
    --delete: #FF0303;
    --priority: #4E6E81;
    --list: #F9DBBB; 
}

header {
    background-color: var(--bg1);
    text-align: right;
}

.welcome {
    font-size: medium;
    background-color: var(--bg1);
    color: var(--font1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    color: var(--bg3);
}

input:focus {
    outline-color: var(--bg1);
}

.sign_out {
    background-color: var(--bg1);
    color: var(--font1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid var(--bg1border);
    border-radius: 25px;
    font-size: medium;
    padding: 5px;
}

.sign_out:hover {
    background-color: var(--font1);
    color: var(--bg1);
}

.intro {
    background-color: var(--bg1);
    color: var(--font1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    height: auto;
}

.row-1 {
    height: auto;
}

.column-1 {
    display: table-cell;
    padding: 10px;
    width: 50vw;
    text-align: center;
}

.box {
    border: 2px solid var(--font1);
    border-radius: 25px;
    font-size: xx-large;
}

form {
    font-size: larger;
}

input {
    width: 300px;
}

.add_button{
    border-radius: 25px;
    background-color: var(--accent);
    color: var(--font2);
    font-size: medium;
}

.add_button:hover{
    background-color: var(--font2);
    color: var(--accent);
}

.quote {
    font-size: larger;
}

.row::after {
    content: "";
    display: table;
    }

hr {
    border:2px dashed;
}

.sandwiched {
    color: var(--accent);
}

.edge {
    color: var(--bg1);
}

.main {
    background-color: var(--bg2);
    color: var(--font3);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.empty {
    font-size: larger;
}

.row-2 {
    height: auto;
}
.column-2 {
    text-align: center;
    display: table-cell;
    column-width: 33.33vw;
}

.column-3 {
    text-align: center;
    display: table-cell;
    column-width: 33.33vw;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    border: var(--list);
    padding: 4px;
    border-radius: 25px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    background-color: var(--list);
    text-align: center;
    margin-right: 4vw;
    font-size: large;
}

.delete {
    color: var(--font2);
    background-color: var(--delete);
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 25px;
    margin: 2px;
    font-size: small;
}

.delete:hover {
    color: var(--delete);
    background-color: var(--font2);
}

.prioritize {
    color: var(--font2);
    background-color: var(--priority);
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 25px;
    margin: 2px;
    font-size: small;
}

.prioritize:hover {
    color: var(--priority);
    background-color: var(--font2);
}

.complete {
    color: var(--font2);
    background-color: var(--complete);
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-radius: 25px;
    margin: 2px;
    font-size: small;
}

.complete:hover {
    color: var(--complete);
    background-color: var(--font2);
}

a {
    text-decoration: none;
}

.outro {
    background-color: var(--bg3);
    color: var(--font2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sign_in_container {
    background-color: var(--bg1);
    color: var(--font1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    height: 100vh;
    width: 50vw;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;
}

@media screen and (max-width: 800px) {
    .column-1, .column-2, .column-3 {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}